/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor/**/
/vendor/*.php
/tmp
.env
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/api-docs
auth.json
.DS_Store
/public/[0-9].js
/public/vendors*.js
/public/vendor/*
/public/build/*